.pageWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  min-height: 100%;
  width: 100%;
}

table {
  height: 100%;
  padding-top: 60px;
  width: 100%;
}

td {
  height: 25%;
  width: 25%;
  text-align: left;
  vertical-align: top;
  padding-top: 5px;
}

.searchBar {
  border-radius: 20px;
  display: flex;
  font-size: 30px;
  justify-content: center;
  padding-left: 20px;
  position: absolute;
  top: 20px;
}

.data {
  padding-top: 60px;
}

.button {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  color: rgba(63, 94, 251, 1);
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: bold;
  font-weight: 800;
  justify-content: center;
  line-height: 40px;
  margin: auto;
  text-align: center;
  text-shadow: 1px 1px 2px gold;
  width: 30vw;
}

.button:hover {
  background-color: white;
  color: rgba(252, 70, 107, 1);
  text-shadow: 1px 1px 2px white;
}
